*{
	margin: 0;
	padding: 0;
}

body{
	background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 40vw;
	height: 500px;
	margin: auto;	
}

