/* reposta 1 */
#pond {
    display: flex;
    justify-content: flex-end;
  }

/* resposta2 */
#pond {
    display: flex;
    justify-content: center;
  }

/* resposta3 */
  #pond {
    display: flex;
    justify-content: space-around;
  }

/* resposta4 */
  #pond {
    display: flex;
    justify-content: space-between;
  }

/* resposta5 */
  #pond {
    display: flex;
    align-items: flex-end;
  }


/* resposta6 */
  #pond {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* resposta7 */
  #pond {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

/* resposta8 */
  #pond {
    display: flex;
    flex-direction: row-reverse;
  }


/* resposta9 */
  #pond {
    display: flex;
    flex-direction: column;
  }



/* resposta10 */
  #pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

/* resposta11 */
  #pond {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

/* resposta12 */
  #pond {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

/* resposta13 */
  #pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
  }

/* resposta14 */
  #pond {
    display: flex;
  }
  
  .yellow {
    order: 1;
  }



 /*  resposta15 */
 #pond {
    display: flex;
  }
  
  .red {
    order: -1;
  }

  /* resposta16 */
  #pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
    align-self: flex-end;
  }

  /* resposta17 */
  #pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
    order:1;
    align-self: flex-end;
  }

 /*  resposta18 */
 #pond {
    display: flex;
    flex-wrap: wrap;
  }

/* resposta19 */
  #pond {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


/* resposta20 */
  #pond {
    display: flex;
    flex-flow: wrap column;
  }


/* resposta21 */
  #pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

/* resposta22 */
  #pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
  }


/* resposta23 */
  #pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  }


/* resposta24 */
  #pond {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: space-between;
  }