@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family:Poppins;
}

.menu nav{
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 0 100px;
    position: fixed;
}

.menu nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.menu nav ul li{
    list-style: none;
}

.menu nav ul li a{
    display: block;
    color: white;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    
}

.menu nav ul li a:hover{
    background-color: #ff4455;
    transition: 1s ease-in-out;
}


section.sec1,section.sec3,section.sec6{
    height: 100vh;
    background-color: #f17d87;
    margin: 0;
    padding: 50px 100px;
    color: white;
}

section.sec2,section.sec4{
    height: 100vh;
    background-color: #efefef;
    margin: 0;
    display: flex;
}


section.sec1 h1{
    position: flex;
    line-height: 340px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section.sec1 h3{
    position: flex;
    line-height: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section.sec2{
    display: flex;
}


section.sec2 .title{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

section.sec2 .pages{
    width: 50%;
    animation: text 12s ease;
    transform: translateX(100px);
}

section.sec2 .pages .div1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

section.sec2 .pages .div1> p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;

}


section.sec3{
    display: flex;
}


section.sec3 .title{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

section.sec3 .pages{
    width: 50%;
    animation: text 12s ease;
    transform: translateX(-100px);
}

section.sec3 .pages .div1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

section.sec3 .pages .div1> p{
    width: 80%;
    font-size: 22px;
    line-height: 30px;

}


section.sec4{
    display: flex;
}


section.sec4 .title{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

section.sec4 .pages{
    width: 50%;
}

section.sec4 .pages p{
    text-align: center;
    line-height: 100px;
    position: relative;
    top: 60px;
}

section.sec4 .pages a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

section.sec4 .pages .div1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

section.sec4 .pages .div1> p{
    width: 80%;
    font-size: 22px;
    line-height: 30px;

}

section.sec4 .project{
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

section.sec4 img{
    width: 100%;
    height: 100%;
}


@keyframes text{
    20%{
        transform: translateX(0px);
  
    }

    100%{
        transform: translateX(0px);
    }
}


.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    background: white;
    color: black;
    top: 40px;
    border-radius: 10px;
    box-shadow: 2px 4px 3px 3px rgba(0,0,0,.095);
}

.form-box h3{
    text-align: center;
    font-size: 30px;
}

.button-box{
    width: 220px;
    margin: 0 20px;
}

.input-group{
    top: 150px;
    position: absolute;
    width: 280px;
    padding: 20px;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-color: #f17d87;
    border: none;
    border-radius: 30px;
    position: relative;
    top: 40px;
}

.icons{
    position: fixed;
    top: 30vh; 
    display: flex;
    flex-direction: column;
    
}

.icons a{
    font-size: 50px;
    color: black;
}

.icons a:nth-child(1):hover{
    color: grey;
    transition: ease .75s;
}

.icons a:nth-child(2):hover{
    color: dodgerblue;
    transition: ease .75s;
}

.icons a:nth-child(3):hover{
    color: darkblue;
    transition: ease .75s;
}

.icons a:nth-child(4):hover{
    color: gold;
    transition: ease .75s;
}