.header {
    text-align: center;
    line-height: 52px;
}

section{
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
}

section input{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    margin-top: 20px;
}

section select{
    outline: none;
    width: 200px;
}

section button{
    width: 200px;
    padding: 10px;
}